<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>Theta Chi Song Requests</title>

</head>

    <div style="background-color: rgb(16, 16, 16);">
	<img class="ui main image" border="0" alt="ncsuOX" src="/static/ncsuOX.png" width="250">
    <table>
        <tr>
            <th>Song</th>
            <th>Upvotes</th>
        </tr>
        {% for name, upvotes in songList %}
        <div class="ui segment">
            <tr>
                <td class="ui song name">{{name}}</td>
                <td class="ui song count">{{upvotes}}</td>
                <!-- <td><a class="ui delete button" href="/delete/{{name}}">Delete</a></td> -->
                <td>
                    <a class="ui upvote button" href="/upvote/{{name}}">
                        <img border="0" alt="upvote" src="/static/Upvote.png" width="25" height="25">
                    </a>
                </td>
                <td>
                    <a class="ui downvote button" href="/downvote/{{name}}">
                        <img border="0" alt="upvote" src="/static/Downvote.png" width="25" height="25">
                    </a>
                </td>
            </tr>
        </div>
        {% endfor %}
    </table>

	<form class="ui form" action="/" method="post">
		<div class="field">
			<input type="text" name="song" placeholder="Enter Song Name..."><br>
		</div>
		<button class="ui blue button" type="submit">Add</button>
	</form>

</html>
